*{
margin:0px;
padding:0px;
}

body{
    width:100%;
    height:100%;
    font-family:monospace;
     }

.main{
height:0px;
width:100%;
position:absolute;
}

.pagetitle{
   /* position:absolute;*/
    position:fixed;
    top:5%;
    left:5px;
    width:99%;
    height:146px;
    font-size:60px;
    font-family: "Times New Roman",serif;
    text-transform:uppercase;
    color:#0099cc;
    background:linear-gradient(to right,#50e90e,#0efaf1);
    text-align:center;
    line-height:150px;
    text-shadow:3px 2px 0.7px green;
    box-shadow: 2px 5px .5px silver;
    letter-spacing:1px;
    border-radius:50px 50px 50px 50px;
    animation:pagetitle 20s ease 2s infinite alternate;
    }
   @keyframes pagetitle{
   0%{
   color:yellow;
   background:linear-gradient(to right,#50e90e,#0efaf1);
   }
   
   50%{
   color:green;
   background:linear-gradient(to left,#50e90e,#0efaf1);
   }
   
   100%{
   color:lime;
   background:linear-gradient(to right,#50e90e,#0efaf1);
   }
   } 
    
    .pagetitle:hover{
    opacity:0;
    
    
    }

/*photo frame start */
.frame{
    position:fixed;
    top:55%;
    width:980px;
    height:500px;
    overflow:hidden;
    list-style:none;
    background:transparent;
    }
    
    .frame li{
    position:absolute;
    height:500px;
    width:326.5px;
    border:5px solid #fff;
    transition:5s linear;
    } 
    
    .photo_li1{
    transform:translate(330.5px,0px) scale(0.3);
    opacity:0;
    transition:5s linear;
    }
    
    .photo_li1 h1{
    text-align:center;
    font-size:24px;
    
    }
    
    .photo_li1 p{
    text-align:left;
    font-size:18px;
    font-family: "Times New Roman",serif;
   margin-left:6px;  }
    
    .photo_li2{
    transform:translate(330.5px,0px);
    transition:5s linear;
    }
    
    .photo_li3{
    transform:translate(330.5px,0px);
    transition:5s linear;
    }
    
    .photo_li4{
    transform:translate(330.5px,0px);
    transition:5s linear;
    }
    
    .frame:hover .photo_li1{
    transform:translate(330.5px,0px) scale(1);
    opacity:1;
    transition:7s linear;
    background:#4dffb8;
    }
    
    .frame:hover .photo_li2{
    transform:translate(0px,0px);
   
    }
    
    .frame:hover .photo_li3{
    transform:translate(661px,0px);
   
    }
    
    .frame:hover .photo_li4{
    transform:translate(330.5px,0px);
    opacity:0;
    }

/*home back option start*/
.option_ber{
/*position:absolute;*/
position:fixed;
height:auto;
width:400px;
top:350px;
right:0px;

}
.navber{
position:absolute;
height:auto;
width:400px;
/*top:20px;
right:0px;*/
overflow:hidden;
list-style:none;
font-size:30px;
float:right;
}
.navber li{
background:linear-gradient(to left,#50e90e,#0efaf1);
height:50px;
width:250px;
text-align:center;
border-radius:50px 0px 0px 50px;
float:right;
border:6px solid linear-gradient(to left,#50e90e,#0efaf1);
text-transform:uppercase;
margin:2px;
line-height:50px;
text-shadow:3px 2px 0.7px #fff;
}

.navber li a{
text-decoration:none;
color:black;
}


.option{
transform:translate(0px,0px) rotate(0deg);
}


.home{
transform:translate(290px,0px) rotate(0deg);
}

.back{
transform:translate(290px,0px) rotate(0deg);
}

.navber:hover .option{
transform:translate(0px,0px) rotate(0deg);
background-color:#0efaf1;
}

.navber:hover .home{
transform:translate(0px,0px) rotate(360deg);
transition:2s linear;
background-color:#0efaf1;
}

.navber:hover .back{
transform:translate(0px,0px) rotate(360deg);
transition:2s linear;
background-color:#0efaf1;
}

/*home back option stop*/



 /*icon ber start*/
.icon{
position:fixed;
top:35%;
left:0%;
width:250px;
display:flex;
flex-direction:column;

}


.icon a{

text-decoration:none;
text-transform:uppercase;
padding:10px;
font-size:25px;
font-family:'oswald'sans-serif;
margin:2px;
text-align:right;
border-radius:0px 50px 50px 0px;
transform:translate(-190px,0px);
transition:all 1.5s;


}

.icon a:hover{

transform:translate(0px,0px);


}



.icon a i {

margin-left:20px;
background-color:white;
height:40px;
width:40px;
color:black;
text-align:center;
line-height:40px;
border-radius:50%;
transform:rotate(0deg);
transition:all 0.8s;


}

.icon a:hover i{
transform:rotate(360deg);
color:blue;

}



.icon a i .fa-facebook-f{

color:#2c80d3;

}


.icon a i .fa-twitter{

color:#53c5ff;

}

.icon a i .fa-youtube{

color:#fa0910;

}

.icon a i .fa-envelope{

color:#D44638;

}


.facebook{
background-color:#2c80d3;
color:white;
}

.twitter{
background-color:#53c5ff;
color:white;
}

.youtube{
background-color:#fa0910;
color:white;
}

.gamil{
background-color:#D44638;
color:white;
}


.animation_page{
    background:linear-gradient(to left,#50e90e,#0efaf1);
height:1520px;
width:100%;
}
    
.ul_class{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    overflow:hidden;
     }
    
.ul_class li{
    
    position:absolute;
    display:block;
    list-style:none;
    width:100px;
    height:100px;
    border:7px solid #fff;
    animation:animate 25s linear infinite;
    bottom:-180px;
    }
    
.ul_class li:nth-child(1){
    
    left:28%;
    width:150px;
    height:150px;
    animation-delay:0.5s;
    }
    
.ul_class li:nth-child(2){
    
    left:10%;
    width:20px;
    height:20px;
    animation-delay:0.2s;
    animation-duration:12s;
    }
    
.ul_class li:nth-child(3){
    
    left:70%;
    width:20px;
    height:20px;
    animation-delay:0.4s;
    }
    
.ul_class li:nth-child(4){
    
    left:40%;
    width:60px;
    height:60px;
    animation-delay:0.5s;
    animation-duration:18s;
    
    
    }
    
    .ul_class li:nth-child(5){
    
    left:65%;
    width:40px;
    height:40px;
    animation-delay:0.2s;
    animation-duration:10s;
    
    
    }
    
    .ul_class li:nth-child(6){
    
    left:75%;
    width:110px;
    height:110px;
    animation-delay:0.3s;
    
    
    }
    
    .ul_class li:nth-child(7){
    
    left:35%;
    width:150px;
    height:150px;
    animation-delay:0.7s;
    animation-duration:15s;
    
    
    }
    
    
    .ul_class li:nth-child(8){
    
    left:35%;
    width:30px;
    height:30px;
    animation-delay:0.15s;
    animation-duration:45s;
    
    
    }
    
    .ul_class li:nth-child(9){
    
    left:20%;
    width:75px;
    height:75px;
    animation-delay:0.2s;
    animation-duration:35s;
    
    
    }
    
    .ul_class li:nth-child(9){
    
    left:85%;
    width:160px;
    height:160px;
    animation-delay:0.2s;
    animation-duration:11s;
    
    
    }
    
    .ul_class li:nth-child(11){
    
    left:65%;
    width:120px;
    height:120px;
    animation-delay:2s;
    animation-duration:10s;
    
    
    }
    .ul_class li:nth-child(12){
    
    left:65%;
    width:120px;
    height:120px;
    animation-delay:2s;
    animation-duration:10s;
    line-height:120px;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    color:blue;
    text-shadow: 5px 5px 2px #fff;
    
    }
    
    .ul_class li:nth-child(13){
    
    left:65%;
    width:120px;
    height:120px;
    animation-delay:7s;
    animation-duration:15s;
    line-height:120px;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    color:blue;
    text-shadow: 5px 5px 2px #fff;
    }
    
    .ul_class li:nth-child(14){
    
    left:30%;
    width:120px;
    height:120px;
    animation-delay:7s;
    animation-duration:15s;
    line-height:120px;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    color:blue;
    text-shadow: 5px 5px 2px #fff;
    }
    
    .ul_class li:nth-child(15){
    
     left:85%;
    width:120px;
    height:120px;
    animation-delay:3s;
    animation-duration:12s;
    line-height:120px;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    color:blue;
    text-shadow: 5px 5px 2px #fff;
    }
    .ul_class li:nth-child(16){
    
    left:5%;
    width:120px;
    height:120px;
    animation-delay:3s;
    animation-duration:12s;
    line-height:120px;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    color:blue;
    text-shadow: 5px 5px 2px #fff;
    
    }
    @keyframes animate{
    
      0%{
      
        transform:translateY(0) rotate(0deg);
        opacity:1;
      
      }
    
    
      
       100%{transform:translateY(-1500px) rotate(720deg);
        opacity:0;
       
      
      }
    
    
    }
    
   
